@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body{
	text-align: center;
}

.extra {
  overflow: scroll;
}
.playerCard{
      visibility: visible;
    display: flex;
     width: 733px;
    height: 349px;
        background-color: #ac4141;
    justify-content: space-around;
        gap: 106px;
}

.righ-side{
         display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: baseline;
    height: 100%;
    flex-direction: column;
    width: 60%;
}.bottom{
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: nowrap;
}.righ-side h1 {
  font-size: 40px;
}.righ-side  p {
  font-size: 30px;
}
.imgs{
    display: flex;
    align-content: stretch;
    /* flex-grow: 0.9; */
    align-self: normal;
    gap: ga;
    /* align-content: stretch; */
    /* height: 64px; */
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
  }.left-side img{
            width: 319px;
    padding-top: 40px;
  }
  .left-side{
    width: 40%;
  }
  .imgs img {
    width: 30px;
  }